doctype html

html
       head
               meta(charset='utf-8')
               meta(name='viewport' content='width=device-width, initial-scale=1.0')
               title BATMAN
               link(rel='stylesheet' type='text/css' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css')
       body
        .row
               .col-sm-4
                              h1 This page is about Batman
                              p#batman.
                                He has a butler named Alfred.
                                He #[em never, ever] uses a gun.
                                He #[strong always] fights the joker.

               .col-sm-8
                        h1 This column is about Spiderman
                        p#spiderman.
                                He lives with his Aunt May.
                                He #[u sometimes] fights Venom.
        .row
               .col-sm-8
                        h1 This column is about Howard the Duck
                        p#howard.
                                He is a complete joke.
               .col-sm-4
                        h1 This column is about Superman
                        p#superman
                                He is super strong, but he's a dork.